.dropdown-container {
  position: relative;
  z-index: 1;
}

.dropdown-container.open {
  z-index: 2;
}

.dropdown-button {
  background: none;
  color: #fff;
  padding: 10px;
}

.chevron-icon {
  transition: transform 0.9s ease-in-out, margin 1s ease-in-out;
  margin-left: 100px;
  margin-right: 0;
  margin-top: 12px;
}

.rotate {
  transform: rotate(270deg);
  margin-left: 0;
}

.dropdown-menu {
  margin-top: 90px;
  padding: 0;
  margin: 0;
  left: 0;
  font-family: Noto Sans;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  background: none;
  z-index: 3;
  animation: neonGlow 1.5s ease-in-out infinite alternate;
}

.dropdown-container.open .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 5px rgba(0, 0, 255, 0.8), 0 0 10px rgba(0, 0, 255, 0.8),
      0 0 15px rgba(0, 0, 255, 0.8);
  }
  100% {
    text-shadow: 0 0 3px rgba(0, 0, 255, 0.8), 0 0 6px rgba(0, 0, 255, 0.8),
      0 0 9px rgba(0, 0, 255, 0.8);
  }
}

.dropdown-item {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
