.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* min-height: 100vh; */
  height: 100vh;
}

.canvasContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  /* background-color: aliceblue; */
  /* padding: 100px; */
}

.Hologram:hover {
  cursor: grab;
  transition: 0.5s;
}

.Holograb {
  cursor: grabbing;
}

.textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  margin-top: -50px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    height: auto;
  }
  .textContainer {
    margin-top: 10px;
    font-size: 10px;
    text-align: center;
  }
  .canvasContainer {
    margin-top: -60px;
    height: 50vh;
    margin-bottom: 10px;
  }
}
